@using EntityLayer.Concrete
@{
    ViewBag.Title = "GetMusteriList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Müşteri Adı</th>
        <th>Müşteri Soyadı</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.M_Name</td>
            <td>@item.M_Surname</td>
        </tr>
    }
</table>
<br />
<a href="/Musteriler/AddMusteri" class="btn btn-info">Yeni Müşteri Ekle</a>
<br /><br />
<a href="/Musteriler/Index" class="btn btn-info">Yeni Müşteri Ekle</a>


