@model EntityLayer.Concrete.Kullanicilar
@{
    ViewBag.Title = "EditKullanicilar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Kullanıcı Güncelleme Sayfası</h2>
@using (Html.BeginForm("EditKullanicilar", "AdminKullanici", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kullanıcı ID")
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
        <br />
        @Html.Label("Kullanıcı Adı")
        @Html.TextBoxFor(x => x.K_Adi, new { @class = "form-control" })
        <br /> <br />
        <button class="btn btn-info">Güncelle</button>

    </div>
}

